body {
  background-color: #E0F8EC; /* Sage green */
}

.contact-icons {
    display: flex;
    gap: 30px; /* Increased gap between icons for better spacing */
    margin-top: 20px;
    justify-content: center; /* Center the icons horizontally */
}

.contact-icon {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    display: inline-block; /* Change from flex to inline-block */
    transition: transform 0.2s ease;
}

.contact-icon:hover {
    transform: scale(1.1);
}

.contact-icon i {
    margin-right: 5px;
}

